# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore package-lock.json/yarn.lock file
package-lock.json
yarn.lock

# Ignore database files
*.sqlite
*.sqlite3
*.db
*.sql

